<P>The Inelduble Apotheosis Of Antidisestablishmentarianism Mutually Welcomes You</P>
<table>
    <tr valign="top">
        <td>
            <span>
                Solas: King's pawn to E4.

Iron Bull: You're shitting me. We don't even have a board!

Solas: Too complicated for a savage Tal-Vashoth?

Iron Bull: (Grumbles.) Smug little asshole. Pawn to E5.

Solas: Pawn to F4. King's Gambit.

Iron Bull: Accepted. Pawn takes pawn. Give me a bit to get the pieces set in my head. Then we'll see what you've got.

───────

Solas: So, where were we? Ah, yes. Mage to C4.

Iron Bull: Little aggressive. Arishok to H4. Check.

Solas: Speaking of aggressive. I assume Arishok is your term for the Queen? King to F1.

Iron Bull: Pawn to B5.

Solas: All right. You have my curiosity. Mage takes Pawn.

Iron Bull: You call your Tamassrans Mages? Ben-Hassrath to F6.

Solas: You call your Knights Ben-Hassrath? Incidentally, Knight to F3.

Iron Bull: Ben-Hassrath makes more sense than horses. They're sneaky, and they can move through enemy lines. Arishok to H6.

Solas: Pawn to D3.

Iron Bull: Ben-Hassrath to H5. Hah! All right, take some time. Think about your life choices.

───────

Solas: All right, Bull. If you are prepared: Knight to H4.

Iron Bull: Arishok to G5. So, you giving up the Tamassran at B5 or the Ben-Hassrath at H4?

Solas: Neither. Knight to F5.

Iron Bull: Pawn to C6. Left your Tamassran hanging out.

Solas: And you, your Knight. Or Ben-Hassrath, if you will. Pawn to G4.

Iron Bull: Ben-Hassrath to F6.

Solas: Hmm. Tower to G1.

Iron Bull: Hah! Pawn takes your Tamassran - or Mage, or whatever it is.

Solas: I get the idea.

Iron Bull: Too much time playing with spirits, Fade Walker.

Solas: We shall see.

───────

Solas: If you have a moment, Bull: Pawn to H4

Iron Bull: Arishok to G6.

Solas: Pawn to H5. Careful.

Iron Bull: You're the one who lost his Mage. Arishok to G5.

Solas: Queen to F3.

Iron Bull: Oh, clever. Almost trapped my Arishok. Ben-Hassrath to G8.

Solas: Mage takes Pawn, threatens Queen.

Iron Bull: (Grunts.) Arishok to F6.

Solas: Knight to C3. You've developed nothing but your Queen.

Iron Bull: Don't get cocky, you're still one Tamassran down. Tamassran to C5, by the way.

Solas: Hmm. I will need to consider.

───────

Solas: After careful consideration: Knight to D5.

Iron Bull: Arishok takes Pawn at B2.

Solas: Mage to D6.

Iron Bull: Arishok takes Tower. What are you doing, Solas?

Solas: King to E2.

Iron Bull: All right, Tamassran takes Tower. Your last Tower, by the way.

Solas: Pawn to E5.

Iron Bull: Really. I've got my whole army bearing down on your King, and you're moving a Pawn?

Iron Bull: Are you even trying anymore?

Solas: Think about it, my friend.

───────

Iron Bull: All right, Solas. I've thought about it. Ready to finish this? Ben-Hassrath to A6.

Solas: Knight takes Pawn at G7. Check.

Iron Bull: Uh-huh. King to D8.

Solas: Queen to F6, Check.

Iron Bull: And now my Ben-Hassrath takes your Queen.

Iron Bull: You've got no Towers. You're down to a single Mage. Too bad you wasted time moving that Pawn to... to...

Iron Bull: You sneaky son of a bitch.

Solas: Mage to E7. Checkmate.

Iron Bull: (Grunts.). Nice game, mage.

Solas: And you as well, Tal-Vashoth.
            </span>
        </td>
    </tr>
</table>
<p>Regards,</p>
<p>The <code>Voitheia</code> admin</p>
