{% extends "layout.html" %}

{% block title %} {{ title }} {% endblock %}

{% block body %}

<section class="home" id="home" data-stellar-background-ratio="0.4">
			<div class="container">
				<div class="row">
					<div class="col-md-12">


						<div class="st-home-unit">
							<div class="hero-txt">
								<div style = "background-color:#4ecdc4; box-shadow: inset 2px 2px 1px rgba(0,0,0,.05);" class="well well-lg">
								<p class="hero-work">Support - Help - Promote</p>
								<h2 class="hero-title">Log In</h2>


								<form action="" method = "post" name = "login">
											{{ form.hidden_tag() }}


											<div class="form-group">
    											<label for="email">Email Address Or Username:</label>
    											<p style="color:black;">
											 {{ form.username(class_="form-control") }}
											 </p>
											 {% if form.username.errors %}
											 <div class="alert alert-danger">
											 	{% for error in form.username.errors %}
           											 {{error}}<br>
          										{% endfor %}
											 </div>
											 {% endif %}
											 </div>


											 <div class="form-group">
    											<label for="pwd">Password:</label>
    											<p style="color:black;">
											 {{ form.password(class_="form-control") }}
											 <br>

											 </p>
											 {% if form.password.errors %}
											 <div class="alert alert-danger">
											 	{% for error in form.password.errors %}
           											 {{error}}<br>
          										{% endfor %}
											 </div>
											 {% endif %}
											 <a style="color:white;" href="{{ url_for('forgot') }}">Forgot Password</a> | <a style="color:white;" href="{{ url_for('register') }}">Create Account</a>
											 </div>

											 <div class="checkbox">
    												{{ form.remember_me }}<label>Remember me</label>
											</div>
											<input style="border-color:white;" class="btn btn-main btn-lg" type = "submit" value="Sign In">
											</form>


							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="mouse-icon"><div class="wheel"></div></div>
		</section>

{% endblock %}