    <section class="subscribe">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h3 class="subscribe-title">Find Us Elsewhere</h3>
						<div class="subscribe-result"></div>
						<ul class="subscribe-social">
							<li><a href="https://twitter.com/Voitheia_2017" class="social twitter"><i class="fa fa-twitter"></i> Follow</a></li>
							<li><a href="https://www.facebook.com/Voitheia-163387374209310/" class="social facebook"><i class="fa fa-facebook"></i> Like</a></li>
						</ul>
					</div>
				</div>
			</div>
		</section>